.edgePath {
  fill: none;
  stroke: red;
  stroke-width: 2;

}

.placeholderPath {
  stroke-width: 1;
  stroke-dasharray: 3 3;
  stroke: #bbb;
  fill: none;
}

.edgeButton {
  fill: #bbb
}

.edgeButton:hover {
  fill: #f5f5f5;
  stroke: red;
}

.edgeButtonText {
  pointer-events: none;
  user-select: none;
  fill: #0984e3;
  z-index: 100;
}